<!DOCTYPE html>
<html>
  <head>
    <title>FarazUx</title>
    <%= csrf_meta_tags %>

    <%#= stylesheet_link_tag    'application', media: => 'print' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
<script src='lib/jquery.min.js'></script>-turbolinks-track': 'reload'
<script src='lib/moment.min.js'></script>
<script src='fullcalendar/fullcalendar.js'></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
